### Jupyter notebook  execute and display the result of the last expression.

***shortcuts***
#### esc + a -> add cell above
#### esc+ b-> add cell below  
#### esc+ d-d-> delete the cell 
#### esc+ m-> markdown the cell 
#### esc+ y -> change to code cell

## 1 .String
***To create a string in Python we need to use either single quotes |double quotes|triple quotes too( for multiple lines).***

In [3]:
"hello world"

'hello world'

***Stores the result in a temporary location specifically in the underscores  _ , __ , ___***

In [4]:
_

'hello world'

In [5]:
__

'hello world'

In [6]:
___

'hello world'

In [7]:
# Be careful with quotes!
print(' I'm using single quotes, but this will create an error')

SyntaxError: unterminated string literal (detected at line 2) (1272364499.py, line 2)

***Solving through Escape character***

In [8]:
print(' I\'m using single quotes, but this will create an error')

 I'm using single quotes, but this will create an error

***Solving through double quote***

In [9]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

### String Basics

We can also use a function called len() to check the length of a string!

In [10]:
len('Hello World')

11

### a) Properties of string
### i.indexing

In [11]:
"hello world"[6]

'w'

### ii.immutable
can not be changed or replaced

In [12]:
a="hello world"
print(a[0])

h

In [13]:
a[0]="p" #error since string are immutable

TypeError: 'str' object does not support item assignment

### iii.Slicing
Grabing subsection of string

[start : stop : step]
- start= starting index
- stop=upto but not included
- step=size of jump

        char  :a      p   e   s
        Index :0      1   2   3 
       R-Index:0/-5  -3  -2  -1
       
*R-index=Reverse indexing*

In [ ]:
letter=a[:5]
letter

In [ ]:
"hello"[0::1]

In [14]:
"hello"[::-1] # tells Python to start from the last index and reaches the first element.

'olleh'

In [15]:
"hello"[-1:0:-2]

'ol'

In [16]:
"hello"[-1:-6:-2]

'olh'

In [17]:
"hello"[1:5:-1] # logical contradiction start needs to be (from backward )bigger than stop

''

### iv.Concatination = must be of same data type

In [18]:
letter+' p'

NameError: name 'letter' is not defined

In [19]:
print("1"+"2")

12

In [20]:
print(1+2)

3

### v.String repetition or string multiplication

In [21]:
a="hello"
a*5

'hellohellohellohellohello'

In [22]:
a=2
print(a**2) # square

4

### vi. Print formatting

### 1.string formatting with .format() method

In [23]:
string="this is a string"
print("hello {}".format(string))

hello this is a string

In [24]:
print("hello {}".format("world"))

hello world

In [25]:
print("The {} {} {}".format("fox","owl","horse"))

The fox owl horse

In [26]:
print("The {2} {1} {0}".format("fox","owl","horse"))# i can give index position
print("The {0} {0} {0}".format("fox","owl","horse"))

The horse owl fox
The fox fox fox

In [27]:
print("The {a} {b} {c}".format(a="fox",b="owl",c="horse")) # using placeholder/keywords

The fox owl horse

In [28]:
print('{0:8}| {1:9}'.format('Fruit', 'Quantity')) # index:minimum width ->fruit occupy 5 so remaining 3 is for white space

Fruit   | Quantity

In [29]:
print('I have 1 {},1 {} and 1 {}'.format("apple","ball","cat"))

I have 1 apple,1 ball and 1 cat

### .format method for float formatting 
#### syntax:     {value : width.precisionf}
width-> how long we want entire string to be.(min width)

value-> can give  named placeholder or unnamed placeholder

precision ->decimal point

In [30]:
result=100/7

In [31]:
print(result)

14.285714285714286

In [32]:
print("The result is {r}".format(r=result))

The result is 14.285714285714286

In [33]:
 print("The result is {r:4.1f}".format(r=result))

The result is 14.3

In [34]:
 print("The result is {r:7.3f}".format(r=result)) # tons of white spaces

The result is  14.286

In [35]:
 print("The result is {:2.1f}".format(result))

The result is 14.3

### 2.String formatting with f string 
fomated string literals= introduced in python 3.6

In [36]:
string="this is a string"
print(f"hello {string}")

hello this is a string

In [37]:
name="rubina"
age=20
print("My name is",name,".I am",age, "years old")
print(f"My name is {name}.I am {age} years old.")

My name is rubina .I am 20 years old
My name is rubina.I am 20 years old.

In [38]:
apples=10
banana=20
carrots=5
print(f"I bought {apples}kg apples,{banana}kg banana,{carrots}kg carrots.")

I bought 10kg apples,20kg banana,5kg carrots.


value:width.precisionf

In [39]:
num=2.345678910

In [40]:
print(f"value={num:2.1f}")

value=2.3

### 3.Formatting with placeholders (%s,%r,%d format specifier )

##### %s:  to inject strings into your print statements. The modulo % is referred to as a "string formatting operator".

In [41]:
print("I'm very %s today." %'happy')

I'm very happy today.

In [42]:
print("The %s seems to be %s." %('weather','perfect'))

The weather seems to be perfect.

##### %r and repr(): deliver the string representation of the object, including quotation marks and any escape characters.

In [43]:
print('He said his name was %r.' %'Fred')

He said his name was 'Fred'.

##### \t inserts a tab into a string.

In [44]:
print("the cat is sitting on %s"%"the\t mat")
print("the cat is sitting on %r"%"the\t mat")

the cat is sitting on the	 mat
the cat is sitting on 'the\t mat'

##### %d : converts numbers to integers (removing the decimal part), without rounding.

In [45]:
print("I wrote %s programs today." %3.755)
print("I wrote %d programs today." %3.755)

I wrote 3.755 programs today.
I wrote 3 programs today.

### Padding and Precision of Floating Point Numbers

 %5.2f. Here, 5 would be the minimum number of characters the string should contain; these may be padded with whitespace if the entire number does not have this many digits. Next to this, .2f stands for how many numbers to show past the decimal point.

In [46]:

print("i am %2.1f kg" %(52.22245))

i am 52.2 kg

### b)string methods
object.method(parameters)

In [47]:
a="Hello World"

In [48]:
a.upper()

'HELLO WORLD'

In [49]:
a.upper  # instead of executing function we are asking what is this

In [50]:
a.lower()

'hello world'

In [51]:
a.split()   # creates list of string. splits based on white space

['Hello', 'World']

In [52]:
a.split('o') # split on the o's

['Hell', ' W', 'rld']

In [53]:
print("hello world")

hello world

### In Python,  built-in data types like str , int are classes and the value assigned to them are object

suppose a=5 

(Here int is class , 5 is its object and  variable a is holding reference to these objects)

In [54]:
type(10)

int

In [55]:
type("ram")

str

In [56]:
type(6.7)

float

In [57]:
type(' ram ')

str

In [58]:
type('''ram''')

str

In [59]:
type(True)

bool

In [60]:
-4>2

False

In [61]:
 name="rubina"
 print(type(name))

<class 'str'>

### Type casting

In [1]:
a="apple"  # cannot type cast string to int
int(a)

ValueError: invalid literal for int() with base 10: 'apple'

In [2]:
a=100
str(a)

'100'

can be type cast to list ,tuple , set.

##### RULES for variable name
##### stars with underscore or letter 
##### cannot start with numbers
##### no keyword,space and special character
##### use lowercase letters for underscore seperated words.
##### avoid using single character variable

### 2. list=data structure that store different kinds of items(mix data type)
#####  orderd,mutable,dynamic
ordered= has defined order which means element position is consistent unless explicitly modified.new elements is added at last.
#### slicing,indexing,concatenate same like in string.

creation and indexing

In [62]:
my_list=[1,2,3,4.5,3,"ok"]
print(my_list)
type(my_list)
print(my_list[0])

[1, 2, 3, 4.5, 3, 'ok']
1

In [63]:
books=["science",'maths',"computer"]
print(books)
print(books[2]) #indexing
print(books[-1]) # negative indexing

['science', 'maths', 'computer']
computer
computer

In [64]:
student_details=["rubina",20,"padma kanya ", 3.7]
print(f'''i am {student_details[0]}.i am {student_details[1]} years old.
i read in {student_details[2]} campus. i got { student_details[-1]} gpa in exam''')

i am rubina.i am 20 years old.
i read in padma kanya  campus. i got 3.7 gpa in exam

concatenation

In [65]:
my_list=[1,2,3]
another_list=[4,5,6]
my_list+another_list

[1, 2, 3, 4, 5, 6]

In [66]:
a=[1,2,3]
b=[5,6,7]
a+b

[1, 2, 3, 5, 6, 7]

mutable(change element in list)

In [67]:
my_list

[1, 2, 3]

In [68]:
my_list[0]='One'

In [69]:
my_list

['One', 2, 3]

list functions
##### functions
Many list methods modify the list in place, like:

1. append()

2. extend()

3. insert()

4. remove()

5. pop()

6. sort() (modifies in place and returns None)

7. reverse()

i. sort

In [70]:
num=[3,2,1]
num.sort() # doesnot return,change in original value
print(num)

[1, 2, 3]

In [71]:
new_list=['a','e','b','d','c']

In [72]:
sorted_list=new_list.sort() # not return value

In [73]:
print(sorted_list)  # doesnot return so gives none

None

In [74]:
new_list

['a', 'b', 'c', 'd', 'e']

ii. reverse

In [75]:
num.reverse() # reverse current order 
print(num)
num.sort(reverse=True) # descending order
print(num)

[3, 2, 1]
[3, 2, 1]

In [76]:
print(len(num))

3

iii. append

In [77]:
num.append(5) # adds element in last
print(num)

num.append([6,7])
print(num)

[3, 2, 1, 5]
[3, 2, 1, 5, [6, 7]]

In [78]:
num[4].append(10)  # Append 10 to the sublist [6, 7]
print(num)

[3, 2, 1, 5, [6, 7, 10]]

In [79]:
num[-1].append(["apple","ball"])
print(num)

[3, 2, 1, 5, [6, 7, 10, ['apple', 'ball']]]

In [80]:
num[-1][-1].append("cat")
print(num)

[3, 2, 1, 5, [6, 7, 10, ['apple', 'ball', 'cat']]]

. indexing nested list

In [81]:
print(num[4][1])  # Access the second element of the sublist [6, 7]

7

In [82]:
a=[1,2,3]
b=a  #points to same address 
print(b)

[1, 2, 3]

In [83]:
b.append(10)
print(b)
print(a)

[1, 2, 3, 10]
[1, 2, 3, 10]

iv. pop

In [84]:
a.pop() # pops last element and return the popped value

10

In [85]:
print(a)
print(b)

[1, 2, 3]
[1, 2, 3]

In [86]:
a.pop(2) # pop the given index element
print(a)

[1, 2]

v. insert

In [87]:
nums = [1, 2, 3, 4, 5, [4, 5, 6, 7, 8]]
nums.insert(3,[7,8])   #insert(index,value)
print(nums)

[1, 2, 3, [7, 8], 4, 5, [4, 5, 6, 7, 8]]

In [88]:
nums[3].insert(3,10)
print(nums)

[1, 2, 3, [7, 8, 10], 4, 5, [4, 5, 6, 7, 8]]

In [89]:
nums[-1].append([2,3])
nums

[1, 2, 3, [7, 8, 10], 4, 5, [4, 5, 6, 7, 8, [2, 3]]]

In [90]:
nums[-1][-1].insert(4,[3,4])

In [91]:
nums

[1, 2, 3, [7, 8, 10], 4, 5, [4, 5, 6, 7, 8, [2, 3, [3, 4]]]]

In [92]:
dir(nums)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

vi. clear

In [93]:
a=[10,22,23]
a.clear() # removes all items from list
print(a)

[]

vii. count

In [94]:
a=[1,2,3,1,5,2]
print(a.count(1)) # count occurance of given value

2

viii. extend

In [95]:
list1=[1,2]
list2=[3,4]
list1.extend(list2) # merge list 1 and list2 into list 1
print(list1)

list2.append(list1)
print(list2)

[1, 2, 3, 4]
[3, 4, [1, 2, 3, 4]]

ix. copy

In [96]:
list3=list1.copy() # address different
print(list3)

[1, 2, 3, 4]

x. remove

In [97]:
a=[1,2,3,4,3,2]
a.remove(3) # value appeared at first is removed 
print(a)

[1, 2, 4, 3, 2]

xi. index

In [98]:
print(a.index(3)) # gives result of index of given value

3

### Typecast

In [99]:
newlista=list3 # no type cast so hold same address 
print(id(newlista))
print(id(list3))

3037371056960
3037371056960

In [100]:
newlist=list(list3) # type casting result diff address
print(newlist)
print(id(newlist))
print(id(list3))

[1, 2, 3, 4]
3037371064320
3037371056960

In [101]:
a=[1,2,3]
b=a
print(id(a))
print(id(b))
id(a)==id(b)

3037357996160
3037357996160

True

In [102]:
a[-1][-1].insert(1,[9,10])
print(a)

TypeError: 'int' object is not subscriptable

### For understanding list memory allocation

In [103]:
import sys

In [104]:
list1=[]
print(sys.getsizeof(list1)) #allocation for metadata

56

In [105]:
list1.append(1)
print(sys.getsizeof(list1)) #size increase.. allocate (32 byte) memory for pointer 
#Only 1 pointer (8 bytes) is actually used (pointing to 1), but Python allocated space for 4 pointers

88

### Note:
#### 1. stores pointer  contigously  .
#### 2. lists do not require  predefine memory like array. But they still deal with memory management like arrays, using over-allocation strategies to keep things efficient.

How variable work in python?

x ───►  object {
            
            id: 1423,
            
            type: int,
            
            value: 10
        }
1. variable is stored in namespace which hold address of the object
2. object is stored somewhere in memory. 
3. we could say int is class and 10 is object.

## 3. Dictionary
##### - unordered mappings for storing objects. 
##### - use key value pair for storing data (object)
##### -  dictionary are mappings and do not retain order and are not sequence 
#### unordered ,mutable,key unique
#### uses curly braces and colons to signify the keys and their associated values

In [106]:
my_dict={"key1":"value1","key2":"value2","key3":"value3"}
print(my_dict)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [107]:
fruits={"apple":10,"banana":20,"watermelon":10}
print(fruits)

{'apple': 10, 'banana': 20, 'watermelon': 10}

In [108]:
print(fruits["apple"])

10

In [109]:
print(fruits["banana"])

20

In [110]:
print(fruits["watermelon"])

10

In [111]:
info={"name":"Rubina","age":20,"address":"Patan"}
print(info)
print(type(info["age"]))

{'name': 'Rubina', 'age': 20, 'address': 'Patan'}
<class 'int'>

#### Nested dictionary :can keep other dictionary,list inside dictionary

In [112]:
d={'k1':{"watermelon","lemon"},"k2":[1,2,3],"k3":{"insideKey":50},"k5":(4,5,6)}

1). to access list [1,2,3]

In [113]:
d['k2']

[1, 2, 3]

2.) to access 3 present in list inside k2

In [114]:
d['k2'][2]

3

3.) access nested inside dictionary

In [115]:
d['k3']

{'insideKey': 50}

In [116]:
d['k3']['insideKey']

50

4.) add new key value pair

In [117]:
d['k4']="Apple"

In [118]:
d

{'k1': {'lemon', 'watermelon'},
 'k2': [1, 2, 3],
 'k3': {'insideKey': 50},
 'k5': (4, 5, 6),
 'k4': 'Apple'}

5.) overwrite existing key value pair

In [119]:
d['k1']="pumpkin"
d

{'k1': 'pumpkin',
 'k2': [1, 2, 3],
 'k3': {'insideKey': 50},
 'k5': (4, 5, 6),
 'k4': 'Apple'}

#### make 'b' inside list of the dictionary into upper case B

In [120]:
d={"key1":['a','b','c']}

In [121]:
d['key1'][1].upper()

'B'

#### functions of dictionary

In [122]:
fruits={"apple":10,"banana":20,"watermelon":10}

In [123]:
print(fruits.items())

dict_items([('apple', 10), ('banana', 20), ('watermelon', 10)])

.items() gives you a view of the dictionary's key-value pairs as tuples.

In [124]:
type(fruits.items())

dict_items

In [125]:
print(fruits.values())

dict_values([10, 20, 10])

In [126]:
print(fruits.keys())

dict_keys(['apple', 'banana', 'watermelon'])

In [127]:
rollnums={1:"ram",2:"shyam"}
rollnums[3]=["hari","geeta","sita"]

In [128]:
rollnums

{1: 'ram', 2: 'shyam', 3: ['hari', 'geeta', 'sita']}

In [129]:
print(type(rollnums[3]))

<class 'list'>

In [130]:
print(rollnums.get(3))

['hari', 'geeta', 'sita']

In [131]:
rollnums[3].append("rubina")
print(rollnums)

{1: 'ram', 2: 'shyam', 3: ['hari', 'geeta', 'sita', 'rubina']}

In [132]:
print(rollnums.keys())

dict_keys([1, 2, 3])

In [133]:
print(rollnums.values())

dict_values(['ram', 'shyam', ['hari', 'geeta', 'sita', 'rubina']])

In [134]:
print(rollnums.items())

dict_items([(1, 'ram'), (2, 'shyam'), (3, ['hari', 'geeta', 'sita', 'rubina'])])

In [135]:
roll=rollnums.copy()
print(roll)

{1: 'ram', 2: 'shyam', 3: ['hari', 'geeta', 'sita', 'rubina']}

In [136]:
print(rollnums.pop(1))
print(rollnums)

ram
{2: 'shyam', 3: ['hari', 'geeta', 'sita', 'rubina']}

In [137]:
print(rollnums.popitem()) # Removes and returns the last inserted key-value pair as tuple
print(rollnums)

(3, ['hari', 'geeta', 'sita', 'rubina'])
{2: 'shyam'}

### dictionary.setdefault(key, default_value)
 
 It checks:

- If key exists:

→ Returns the current value (does not change it)

- If key doesn’t exist:

→ Sets dict[key] = default_value ( add new key value pair)

In [138]:
rollnums={1:"ram",2:"shyam" ,3:"hari",}
rollnums.setdefault("ok")
print(rollnums)

rollnums.setdefault(4,"pk")
print(rollnums)

{1: 'ram', 2: 'shyam', 3: 'hari', 'ok': None}
{1: 'ram', 2: 'shyam', 3: 'hari', 'ok': None, 4: 'pk'}

In [139]:
rollnums.setdefault(3,"rubina") #no change in dictionary
print(rollnums)

{1: 'ram', 2: 'shyam', 3: 'hari', 'ok': None, 4: 'pk'}

### How OrderedDict object works.

In [140]:
from collections import OrderedDict # importing OrderedDict class from collections module

In [141]:
ordered = OrderedDict() # creating object 
ordered["apple"] = 1
ordered["banana"] = 2
ordered["cherry"] = 3
print(ordered)
OrderedDict([('apple', 1), ('banana', 2), ('cherry', 3)])

OrderedDict([('apple', 1), ('banana', 2), ('cherry', 3)])

OrderedDict([('apple', 1), ('banana', 2), ('cherry', 3)])

Before python 3.7:

dict didn’t guarantee insertion order — you'd use OrderedDict when order mattered.

### Hashmap reffered to as dictionary in python
- Its a data structure.

Benefits:
  
- customize key for readability.

- allow for search in O(1) which is faster than array/linkedlist O(n).

A hashmap or dictionary:

- Stores data in key-value pairs.

- Each dict in Python has its own hash table, stored as part of its internal structure in memory.

- Uses a hash function to compute an index for storing the value. Hash function take key and gives hash value(index) where value is stored.

- Ensures each key is unique.

- If a key can change, its hash value can also change, and Python wouldn't be able to find it again in the dictionary. That’s why mutable objects like sets are not allowed as keys.

In [142]:
dict2={{3,4}:"poudel"} # using mutable set

TypeError: unhashable type: 'set'

#### Note:
#### unhashable = Can't generate stable index because its mutable so cannot be used as key.

In [143]:
dict1={(1,2):"poudel"} # using immutable tuple
dict1

{(1, 2): 'poudel'}

#### sets,list dict are unhashable (mutable)
#### tuple is hashable(immutable)
#### tuple can be unhashable if list is present inside it.

- dictionary uses hash value to store.so key must be unique and unhashable( giving stable index)

-  tuple may or  may not use hash value .May not use if it store list or dictionary inside it.

-  sets use hash value to store so doesnt allow any unhashable items inside it.

-  list doesnt use hash value and unhashable at all.