## 1.Tuple
#####  denoted by  () round bracket, paranthesis
#####  similar to list, access by using index but difference is immutability
#####  once element is inside a tuple cannot be reassigned
##### ordered ,immutable(cannot add,remove,modify)     ,data fixed sure then= use tuple
#####  can add list ,dict,set inside it . That list inside is mutable.

In [1]:
fruits=("apple","banana","orange")

In [32]:
print(fruits)

('apple', 'banana', 'orange')

#### Indexing

In [33]:
print(fruits[0])

apple

In [34]:
print(fruits[2])

orange

In [5]:
# fruits[0]="litchi" error imuutable

#### "nested list" within the tuple.

In [6]:
tuple1=("ram","shyam",[1,2,3])

In [7]:
tuple1[2].insert(0,5)
print(tuple1)

('ram', 'shyam', [5, 1, 2, 3])

In [8]:
tuple1[2][0]=11
print(tuple1)

('ram', 'shyam', [11, 1, 2, 3])

In [9]:
tuple1.count("ram")

1

In [10]:
tuple1.index([11,1,2,3])

2

In [11]:
tuple1.index("shyam")

1

In [12]:
len(tuple1)

3

tuple contain elements of any data type, including lists,sets,dictionaries

In [13]:
tuple2=(1,2,{3,4})
print(type(tuple2))
print(tuple2)
print(type(tuple2[2]))

<class 'tuple'>
(1, 2, {3, 4})
<class 'set'>

In [14]:
tuple3=(1,2,[3,4,5],{3:"rubina"},{4})
print(type(tuple3[4]))
type(tuple3[3])

<class 'set'>

dict

Tuples cannot be modified after creation, but you can create a new tuple by concatenating existing tuples.

In [15]:

my_tuple = (1, 2, 3)
new_tuple = my_tuple + (4,)  # Create a new tuple by concatenation
print(new_tuple)

(1, 2, 3, 4)

In [16]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

### 2. Sets

##### denoted by curly brackets
##### holds unique items
##### no key value pair like dictionary
##### no order
##### mutable (add/remove elements)   but Elements within a set must be immutable (cannot make changes to existing value)

In [17]:
numbers={1,1,2,2,3,4,5,6,7,10,10} 

print(numbers)
len(numbers)
#repititive items still prints  unique items

{1, 2, 3, 4, 5, 6, 7, 10}

8

In [18]:
# numbers[0] error not accesible by index,unordered

In [19]:
num1={1,2,3,4}
num2={2,3,4,5,6}

In [20]:
num1.intersection(num2)

{2, 3, 4}

In [21]:
num2.union(num1)

{1, 2, 3, 4, 5, 6}

In [22]:
num1.difference(num2)

{1}

In [23]:
dir(num1)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [24]:
num1.add((5,6))
print(num1)

{1, 2, 3, 4, (5, 6)}

In [25]:
#  num1.add({"key":"value"})  # error dict unhashable

In [26]:
# num1.add([9]) error

In [27]:
num1.pop()

1

In [28]:
num1.pop()

2

### Typecasting

In [29]:
a=[]
print(type(a))
print(type(set(a))) #typecasting

<class 'list'>
<class 'set'>

 ###### to change repititive items of list to unique items

In [30]:
list1=[5,1,10,2,2,3,3,8,4]

list1 =list(set(list1)) # temporary operation so assign to variable
print(list1)

[1, 2, 3, 4, 5, 8, 10]