In [1]:
first_num=int(input("enter first number\t"))
second_num=int(input("enter second number\t"))
print(f"the sum of two numbers is {first_num+second_num}")
print(f"the difference of two numbers is {first_num-second_num}")

enter first number	1
enter second number	2
the sum of two numbers is 3
the difference of two numbers is -1

In [2]:
print("The sum of ",first_num,"and",second_num,"is",first_num+second_num)

The sum of  1 and 2 is 3

In [3]:
a=input()
b=input()
print(int(a)+int(b))

2
3
5

iterable= means can be looped over or can be accessed one at a time.

Common iterables: list,tuple,string,dictionary,sets

###### for loop

In [4]:
numbers=[20,30,40,50]
for number in numbers:
    print(number)
    
print(number)

20
30
40
50
50

In [5]:
for number in [20,30,40,50]:
    print(number)

20
30
40
50

##### range(left inclusive,right exclusive)

In [6]:
print(range(1,11))

range(1, 11)

In [7]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
a="hello"
print("h" in a) # in checks wether value is found in string, tuples,list,set,dictionary

True

In [9]:
for i in range(5):# 0 to 4
    print(i)

0
1
2
3
4

In [10]:
for i in range(1,11):# 1 to 10
    print(i)

1
2
3
4
5
6
7
8
9
10

###### for loop in list

In [11]:
names=["ram","shyam","hari"]
for name in names:
    print(f"Name:{name},Going back up for another name")

Name:ram,Going back up for another name
Name:shyam,Going back up for another name
Name:hari,Going back up for another name

In [12]:
for i in range(1,21):
    print(i*4)

4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80

###### in dictionary

In [13]:
fruits={"apple":1,"banana":1,"guava":10}
for i in fruits:
    print(i)

apple
banana
guava

In [14]:
for i in fruits.values():
    print(i)

1
1
10

In [15]:
for i in fruits.items():
    print(i)

('apple', 1)
('banana', 1)
('guava', 10)

#### print [ (12, 45), (13, 56), (34, 67) ] using for loop

In [16]:
a=[12,13,34]
b=[45,56,67]
for i in range(0,3):
    print((a[i],b[i]))

(12, 45)
(13, 56)
(34, 67)

In [17]:
a=[12,13,34]
b=[45,56,67]
for i in a:
    for j in b:
        print(i,j)
    print("we are outside j")

12 45
12 56
12 67
we are outside j
13 45
13 56
13 67
we are outside j
34 45
34 56
34 67
we are outside j

In [18]:
a=[12,13,34]
b=[45,56,67]
result=[]
for i in range(0,len(a)):
    result.append((a[i],b[i]))
print(result)

[(12, 45), (13, 56), (34, 67)]


###### tupples inside list

In [19]:
a = [('apple', 1, 23), ('banana', 1, 23), ('guava', 10, 23), ('mango', 5, 23)]

for i in a:
    print(i)

('apple', 1, 23)
('banana', 1, 23)
('guava', 10, 23)
('mango', 5, 23)

In [20]:
a = [('apple', 1, 23), ('banana', 1, 23), ('guava', 10, 23), ('mango', 5, 23)]

for i, j, k in a:
    print(i, j, k)

apple 1 23
banana 1 23
guava 10 23
mango 5 23

In [21]:
a={"apple":1,"banana":2,"guava":3}
for fruit,amount in a.items():
    print(fruit,amount)

apple 1
banana 2
guava 3

In [22]:
a = set(('apple', 1, 23))  
print(type(a))
print(a)

for i in a:             # since set is unordered collection we cannot unpack elements as i,j,k
    print(i)

<class 'set'>
{1, 23, 'apple'}
1
23
apple