In [1]:
import pandas as pd

In [2]:
carData=pd.read_csv("car-sales.csv")

In [3]:

## Import pandas
## Load the car sales csv into a dataframe named carData
## Look at the Top 5 rows of the dataframe.
## Take a look at the last 3 rows of the dataframe.
## Are there any null values present in the dataset?

In [4]:
carData.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [5]:
carData.tail()

     Make Colour  Odometer (KM)  Doors      Price
5  Toyota  Green          99213      4  $4,500.00
6   Honda   Blue          45698      4  $7,500.00
7   Honda   Blue          54738      4  $7,000.00
8  Toyota  White          60000      4  $6,250.00
9  Nissan  White          31600      4  $9,700.00

In [6]:
carData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

In [7]:
## Task 1: What is the shape of the dataframe?

In [8]:
carData.shape

(10, 5)

In [9]:
## Task 2: What are the data types?

In [10]:
carData.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

In [11]:
carData.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [12]:
## Task 3: What are the different column names? And how many total columns are there?

In [13]:
carData['Make'].value_counts()

Make
Toyota    4
Honda     3
Nissan    2
BMW       1
Name: count, dtype: int64

In [14]:
## Task 4: What are the different kinds of make?

In [15]:
carData['Make'].nunique()

4

In [16]:
## Task 5: What are the different colours?

In [17]:
carData['Colour'].nunique()

5

In [18]:
## Task 6: What is the data type of column `Price`?

In [19]:
carData['Price'].dtype #object data type ----- it means it may contain string/mixed type

dtype('O')

In [20]:
## Task 7: What is highest number of Doors present in the dataset?

In [21]:
carData['Doors']

0    4
1    4
2    3
3    5
4    4
5    4
6    4
7    4
8    4
9    4
Name: Doors, dtype: int64

In [22]:
sum=0
for i in carData['Doors']:
    if(sum<i):
        sum=i

In [23]:
print(f"The highest number of door present in dataset is {sum}")

The highest number of door present in dataset is 5

In [24]:
carData['Doors'].max()

5

In [25]:
## Task 8: What is the Odometer read on Green Coloured Toyota?

In [26]:
(carData['Make'] == 'Toyota') &(carData['Colour'] == 'Green') # gives boolen value

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
8    False
9    False
dtype: bool

In [27]:
filtered=carData[(carData['Make'] == 'Toyota') & (carData['Colour'] == 'Green')] # Here by indexing with carData we are telling give me the row whose boolean value is true

filtered['Odometer (KM)']

5    99213
Name: Odometer (KM), dtype: int64

In [28]:
## Task 9 : What is the average price of cars?

In [29]:
carData['Price']

0     $4,000.00
1     $5,000.00
2     $7,000.00
3    $22,000.00
4     $3,500.00
5     $4,500.00
6     $7,500.00
7     $7,000.00
8     $6,250.00
9     $9,700.00
Name: Price, dtype: object

In [30]:
a=""
sum=0
count=0
for i in carData['Price']:
    count=count+1
    a=i[1:]
    k,j= a.split(',')
    final=k+j
    sum=sum+float(final)
    
average=sum/len(carData['Price']) # sum/count
print(average)

7645.0

In [31]:
# using list comprehension

In [32]:
def cleanPrice(price):
    price = price[1:]
    total = ""
    for p in price.split(","):
       
        total += p
      
   
    return float(total)

#list comprehension
carData["Price(float)"] = [cleanPrice(price) for price in carData['Price']]   

carData["Price(float)"].mean()

7645.0

In [33]:
#Another way

In [34]:
def fun(j):
    price=j[1:]
    j,k= price.split(',')
    return (float(j+k))
    
l=pd.Series([fun(i) for i in carData['Price']])
l.mean()

7645.0

In [35]:
#Another way

In [36]:
prices=[]
for i in carData['Price']:
    price=i.strip('$')
    price=price.split(',')
    print(price)
    prices.append(price)
sum=0
for i ,j in prices:
    merge=float(i+j)
    sum=sum+merge
sum/len(prices)

['4', '000.00']
['5', '000.00']
['7', '000.00']
['22', '000.00']
['3', '500.00']
['4', '500.00']
['7', '500.00']
['7', '000.00']
['6', '250.00']
['9', '700.00']

7645.0